*.pickle filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
project/model/saved_models/metrowest_keras_trained_model.h5 filter=lfs diff=lfs merge=lfs -text
